.tab {
    background-color: #272725;
    color: #FFFFFF;
}

.backdrop, #RiseEditArea {
  font:12px 'Roboto', sans-serif;
  letter-spacing: 1px;
  width: 95%;
  height: 85%;
  overflow: none;
}

#RiseEditArea {
  margin: 0;
  position: absolute;
  border-radius: 0;
  background-color: transparent;
  color: transparent;
  caret-color: #FFFFFF;
  z-index: 2;
  resize: none;
  overflow: none;
  font-family: monospace;
  font-size: 18px;
}

.backdrop {
  position: absolute;
  z-index: 1;
  border: 2px solid transparent;
  pointer-events: none;
  overflow: none;
}

.custom-area {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: none;
  /*background-color: #323344;*/
  background-color: #272725;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 18px;
  height: 100%;
  width: 100%;
}
p{
  font-family: monospace;
  font-size: 18px;
}

font {
    font-family: monospace;
    font-size: 18px;
}

.num_seascape {
    color: rgb(101, 39, 126);
}

.str_seascape {
    color: rgb(49, 110, 37);
}

.key_seascape {
    color: rgb(30, 120, 156);
}

.mini {
    background-color: #272725;
    color: #FFFFFF;
}

.com_seascape {
    color: rgb(105, 101, 107);
}
