.tab {
    background-color: #272725;
    color: #FFFFFF;
}

#mode {
    background-color: black;
    color: white;
    float: right;
}

.backdrop, #editor {
  font:12px 'Roboto', sans-serif;
  letter-spacing: 1px;
  width: 70%;
  height: 85%;
  overflow: none;
}

.front code {
  display: block;
  position: relative;
  white-space: pre-wrap;
}

.front code::before {
  content: counter(line);
  color: #FFFFFF;
  counter-increment: line;
  position: absolute;
  right: calc(100% + 16px);
  opacity: 0.5;
}

#editor {
  margin: 0;
  position: absolute;
  border-radius: 0;
  background-color: transparent;
  color: transparent;
  caret-color: #FFFFFF;
  z-index: 2;
  resize: none;
  overflow: none;
  font-family: monospace;
  font-size: 14px;
  overflow-y: auto;
  padding-left: 48px;
}

.backdrop {
  position: absolute;
  z-index: 1;
  border: 2px solid transparent;
  pointer-events: none;
  overflow: none;
}

.front {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: none;
  /*background-color: #323344;*/
  background-color: #000000;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 14px;
  height: 100%;
  width: 100%;
  counter-reset: line;
  overflow-y: auto;
  padding-left: 48px;
}
p{
  font-family: monospace;
  font-size: 14px;
}

font {
    font-family: monospace;
    font-size: 14px;
}

.num_Seascape {
    color: rgb(101, 39, 126);
}

.str_Seascape {
    color: rgb(49, 110, 37);
}

.key_Seascape {
    color: rgb(30, 120, 156);
}

.com_Seascape {
    color: rgb(105, 101, 107);
}

.type_Seascape {
    color: rgb(163, 154, 214);
}

.mini {
    background-color: #272725;
    color: #FFFFFF;
}

.num_Elflord {
    color: magenta;
}

.str_Elflord {
    color: magenta;
}

.key_Elflord {
    color: darkmagenta;
}

.com_Elflord {
    color: DarkCyan;
}

.type_Elflord {
    color: lightgreen;
}
