.tab {
    background-color: #000000;
    color: #FFFFFF;
}

#mode {
    background-color: black;
    color: white;
    float: right;
}

.backdrop, #editor {
  font:12px 'Roboto', sans-serif;
  letter-spacing: 1px;
  width: 65%;
  height: 85%;
  overflow: none;
}

.front code {
  display: block;
  position: relative;
  white-space: pre-wrap;
}

.front code::before {
  content: counter(line);
  color: grey;
  counter-increment: line;
  position: absolute;
  right: calc(100% + 16px);
  opacity: 0.5;
}

#editor {
  margin: 0;
  position: absolute;
  border-radius: 0;
  background-color: transparent;
  color: transparent;
  caret-color: grey;
  z-index: 2;
  resize: none;
  overflow: none;
  font-family: monospace;
  font-size: 14px;
  overflow-y: auto;
  padding-left: 48px;
}

.backdrop {
  position: absolute;
  z-index: 1;
  border: 2px solid transparent;
  pointer-events: none;
  overflow: none;
}

.front {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: none;
  /*background-color: #323344;*/
  background-color: #000000;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 14px;
  height: 100%;
  width: 100%;
  counter-reset: line;
  overflow-y: auto;
  padding-left: 48px;
}
p{
  font-family: monospace;
  font-size: 14px;
}

font {
    font-family: monospace;
    font-size: 14px;
}

.num-Medium-Dark {
    color: rgb(83, 151, 69);
}

.str-Medium-Dark {
    color: rgb(83, 151, 69);
}

.key-Medium-Dark {
    color: rgb(30, 120, 156);
}

.com-Medium-Dark {
    color: rgb(105, 101, 107);
}

.type-Medium-Dark {
    color: rgb(152, 142, 211);
}

.oper-Medium-Dark {
    color: #FFFFFF;
}

.mini {
    background-color: #000000;
    color: #FFFFFF;
}

.num-Dark {
    color: palevioletred;
}

.str-Dark {
    color: palevioletred;
}

.key-Dark {
    color: dodgerblue;
}

.com-Dark {
    color: darkcyan;
}

.type-Dark {
    color: rgb(122, 184, 245);
}

.oper-Dark {
    color: red;
}

.property-Dark {
    color: rgb(0, 230, 145);
}

.num-Light {
    color: rgb(3, 196, 83);
}

.str-Light {
    color: rgb(3, 196, 83);
}

.key-Light {
    color: rgb(49, 41, 168);
}

.com-Light {
    color: rgb(184, 201, 184);
}

.type-Light {
    color: rgb(57, 119, 57);
}

.oper-Light {
    color: #000000;
}

.property-Light {
    color: rgb(168, 103, 103);
}

#mode {
    background-color: #272725;
}
